<div class="panel" style="background-color: #<%= panel_colour %>;">
  <%= link_to(link) do %>
  <div class="panel-body text-center" style="color: #<%= text_colour %>;">
    <div class="jumbo jumbo-10">
      #<%= colour %>
    </div>
    <div class="jumbo jumbo-3">
      <ul class="list-inline">
        <li>R: <%= format("%03d", colour.red) %></li>
        <li>G: <%= format("%03d", colour.green) %></li>
        <li>B: <%= format("%03d", colour.blue) %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
