<div class="container">
  <div class="panel" style="background-color: #<%= panel_color %>;">
    <%= link_to(link) do %>
    <div class="panel-body" style="color: #<%= text_color %>;">
      <div class="row text-center">
        <div class="col-12">
            <div class="jumbo jumbo-10">
              #<%= color %>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-4 jumbo jumbo-3">R: <%= format("%03d", color.red) %></div>
        <div class="col-4 jumbo jumbo-3">G: <%= format("%03d", color.green) %></div>
        <div class="col-4 jumbo jumbo-3">B: <%= format("%03d", color.blue) %></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
