<div class="card">
  <%= link_to(link) do %>    
  <div class="card-body">
    <div>
      <h1 class="display-1 fancy">#<%= color %></h1>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-sm fancy">
        <li class="list-group-item flex-fill display-4">R: <%= format("%03d", color.red) %></li>
        <li class="list-group-item flex-fill display-4">G: <%= format("%03d", color.green) %></li>
        <li class="list-group-item flex-fill display-4">B: <%= format("%03d", color.blue) %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>