<!DOCTYPE html>
<html lang="en"  class="h-100">
  <%= render partial: "shared/head" %>

  <body class="d-flex flex-column h-100">
    <%= render partial: "shared/nav" %>

    <!-- Begin page content -->
    <main>
      <%= yield :main %>
    </main>

    <%= render partial: "shared/foot" %>
  </body>

  <%= render partial: "shared/scripts" %>

  </html>